@model List<ResultHobbyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Hobby Section</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hobby Information</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can make Hobby changes in this section.
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Description2</th>
                                        <th scope="col">Description3</th>
                                        <th scope="col">Description4</th>
                                        <th scope="col">Delete</th>
                                        <th scope="col">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Description</td>
                                            <td>@item.Description2</td>
                                            <td>@item.Description3</td>
                                            <td>@item.Description4</td>
                                            <td><a href="/Hobby/DeleteHobby/@item.HobbyID" class="btn btn-danger">Delete</a></td>
                                            <td><a href="/Hobby/UpdateHobby/@item.HobbyID" class="btn btn-warning">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>