@model List<ResultEducationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}



<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Education Section</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Education Information</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can make education changes in this section.
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Subtitle</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">GNO</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Delete</th>
                                        <th scope="col">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.Subtitle</td>
                                            <td>@item.Subtitle2</td>
                                            <td>@item.GNO</td>
                                            <td>@item.Date</td>
                                            <td><a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-danger">Delete</a></td>
                                            <td><a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-warning">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Education/CreateEducation/" class="btn btn-primary">Create New Education Section</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
